body {
  margin: 0;
  background: #eee;
}

body, .x-new-tweets {
  font-family: "Helvetica Neue",Arial,sans-serif;
}

header {
  width: 100%;
  height: 40px;
  background-color: rgb(37, 37, 37);
  background-image: url(https://abs.twimg.com/a/1381185256/t1/img/twitter_web_sprite_bgs.png);
  background-position: 0px 0px;
  background-repeat: repeat-x;
}

header .container, main {
  max-width: 865px;
  margin: 0 auto;
}

header .left-nav {
  font-size: 0;
  float: left;
}

header .left-nav a {
  font-size: 12px;
  font-weight: bold;
  display: inline-block;
  height: 100%;
  padding: 0 20px;
  padding-top: 10px;
  box-sizing: border-box;
  color: white;
  text-decoration: none;
  color: #bbb;
  text-shadow: 0 -1px 1px rgba(0,0,0,.75);
}

header .left-nav a:hover {
  color: #fff;
}

header {
  position: relative;
}

header .twitter-icon {
  height: 20px;
  position: absolute;
  left: 50%;
  top: 8px;
}

header .right-actions {
}

.search-form {
  float: right;
  display: inline-block;
}

.search-form input {
  background: #b0b0b0;
  border-radius: 18px;
  border: 0;
  font-size: 12px;

  outline-color: rgb(68, 68, 68);
  outline-style: none;
  outline-width: 0px;

  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 27px;
  padding-top: 6px;

  margin-top: 6px;
  width: 200px;

  -webkit-transition: all 0.5s ease;                  
  -moz-transition: all 0.5s ease;                 
  -o-transition: all 0.5s ease;   
  -ms-transition: all 0.5s ease;          
  transition: all 0.5s ease;
}

.search-form input:focus {
  background: #fff;
}

.search-form input::-webkit-input-placeholder {
  color: #666;
}

button.settings, button.compose {
  float: right;
  display: block;
  height: 100%;
  border: 0;
}

button.settings {
  width: 30px;
  padding: 0 20px;
  background: url('gear.png') transparent no-repeat;
  background-position-x: center;
  background-position-y: 6px;
}

button.compose {
  background: blue;
  height: 28px;
  margin-top: 6px;
  border-radius: 5px;
  background: #4aaadd; /* Old browsers */
  background: -moz-linear-gradient(top, #4aaadd 0%, #007aaf 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4aaadd), color-stop(100%,#007aaf)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #4aaadd 0%,#007aaf 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #4aaadd 0%,#007aaf 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #4aaadd 0%,#007aaf 100%); /* IE10+ */
  background: linear-gradient(to bottom, #4aaadd 0%,#007aaf 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4aaadd', endColorstr='#007aaf',GradientType=0 ); /* IE6-9 */
}

.compose-inner {
  width: 30px;
  height: 100%;
  background: url('compose.png') transparent no-repeat;
  background-position-x: center;
}

.sidebar {
  width: 35%;
}

.feed {
  width: 65%;
  border: solid 1px #ddd;
  box-sizing: border-box;
  background: #fff;
  border-radius: 5px;
}

.feed h1 {
  font-size: 18px;
  margin: 0;
  padding: 10px 15px;
}

.x-new-tweets {
  width: 100%;
  background: #eee;
  border: 0;
  border-top: 1px solid #ccc;
  padding: 15px 0;
  font-size: 13px;
  color: #C92828;
}

.x-new-tweets:hover {
  background: #ddd;
}

.tweet .pic {
  float: left;
  width: 50px;
  padding: 15px 20px 0 20px;
}

.tweet .tweet-body {
  float: right;
  width: calc(100% - 90px);
}

.tweet-body h3 {
  font-size: 15px;
  display: inline-block;
  margin-bottom: 0
}

.tweet-body .handle {
  color: #999;
  font-size: 12px;
}

.tweet-body p.content {
  padding-right: 20px;
  font-size: 14px;
}

.tweet-body .expand, .tweet-links a {
  color: #C92828;
  font-size: 13px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.tweet-body .expand {
  float: left
}

.tweet-links {
  float: right;
  visibility: hidden;
}

.tweet:hover {
  background: #eee;
  cursor: pointer;
}

.tweet:hover .tweet-links {
  visibility: visible;
}

.sidebar, .feed {
  float: left;
}